.layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../IMAGES/wallpaperCONTACTO.jpg");
    background-size: cover;
}

.layout__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout__column__form{
    width: 100%;
}
.layout__column div{
    margin: 2%;
}

.layout__column__titles{
    background-color: white;
    text-align: center;
    width: 65%;
    padding: 1%;
    margin-top: 2%;
}

.layout__column__item{
    margin: 2%;
    font-weight: bolder;
}

.check-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones{
    display: flex;
    flex-direction: row;
}
.btn{
    margin: 5%;
}
